<?xml version="1.0" encoding="UTF8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- configuration核心配置文件 -->
<configuration>

    <!-- 引入外部配置文件 -->
    <properties resource="db.properties"></properties>

    <settings>
        <setting name="logImpl" value="LOG4J"/>
        <!-- 是否開啟駝峰命名規則(camel case)映射 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- 顯示的開啟全局緩存 -->
        <setting name="cacheEnabled" value="true"/>
    </settings>

    <!-- 可以給實體類取別名 -->
    <typeAliases>
        <package name="com.morris.pojo"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

    <!-- 每一個Mapper.xml都需要在Mybatis核心配置文件中註冊 -->
    <mappers>
        <package name="com.morris.dao"/>
    </mappers>

</configuration>
